body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: url('https://static.jobscan.co/blog/uploads/resume-builder-examples.png') no-repeat center center;
    background-size: cover;
    color: #000; /* Чорний колір для тексту */
    padding: 40px 20px;
    text-align: center;
    height: 300px; /* Задаємо висоту для перевірки */
}

header h1 {
    font-size: 3em; /* Крупний шрифт для імені */
    margin: 0;
    color: #000; /* Чорний колір для заголовка h1 */
}

header h2 {
    font-size: 1.5em; /* Середній шрифт для посади */
    margin: 10px 0;
    color: #000; /* Чорний колір для заголовка h2 */
}

header .slogan {
    font-size: 1em; /* Мелкий шрифт для слогану */
    font-style: italic;
    margin: 10px 0 0;
    color: #000; /* Чорний колір для слогану */
}


p {
    margin-bottom: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #3498db;
    margin: 20px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.contacts p {
    font-weight: bold;
}
